{%- liquid
  assign show_breadcrumbs = true
  if request.page_type == 'index' or request.page_type == 'password'
    assign show_breadcrumbs = false
  endif

  assign current_label = page_title | default: shop.name
  assign parent_label = ''
  assign parent_url = ''

  case request.page_type
    when 'product'
      assign current_label = product.title
      if collection != blank
        assign parent_label = collection.title
        assign parent_url = collection.url
      else
        assign parent_label = 'All Parts'
        assign parent_url = routes.all_products_collection_url
      endif
    when 'collection'
      assign current_label = collection.title | default: 'All Parts'
    when 'article'
      assign current_label = article.title
      assign parent_label = blog.title | default: 'Blog'
      assign parent_url = blog.url | default: '/blogs/news'
    when 'blog'
      assign current_label = blog.title | default: 'Blog'
    when 'page'
      assign current_label = page.title
    when 'search'
      assign current_label = 'Search'
    when 'cart'
      assign current_label = 'Cart'
    when 'policy'
      assign current_label = page_title
    else
      assign current_label = page_title | default: 'Page'
  endcase
-%}

{%- if show_breadcrumbs -%}
  <nav class="vanagain-breadcrumbs" aria-label="Breadcrumb">
    <ol>
      <li><a href="{{ routes.root_url }}">Home</a></li>
      {%- if parent_label != blank and parent_url != blank -%}
        <li><a href="{{ parent_url }}">{{ parent_label }}</a></li>
      {%- endif -%}
      <li aria-current="page">{{ current_label }}</li>
    </ol>
  </nav>
{%- endif -%}
